venv/
__pycache__/
.ipynb_checkpoints/
outputs/
data/raw/
data/processed/
data/cache/
*.pt
*.pth
*.ckpt
*.log
*.csv
*.npy
.idea/
.vscode/
.DS_Store

# Common server/OS files
*.pyc
*.pyo
*.pyd
.env
env/
Desktop.ini
Thumbs.db
